<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<h2>Books</h2>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th>id</th>

        <th>Book Name</th>
        <th>Author</th>
        <th>price</th>
        <th>image</th>
        <!-- for adding update button-->
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="temp: ${books}">
        <td th:text="${temp.id}"></td>
        <td th:text="${temp.name}"></td>
        <td th:text="${temp.author}"></td>
        <td th:text="${temp.price}"></td>
        <td>
            <img th:src="@{'/'+${temp.image}}"  width="50" >
        </td>
        <td>
            <a th:href="@{/delete(id=${temp.id})}" class="btn btn-primary btn-sm mb-3">Add to cart</a>

        </td>

    </tr>

    </tbody>
</table>

</body>
</html>